body {
  margin: 0px;
}

.header {
  height: 100%;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo-wrapper {
  display: flex;
}

#logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 20px;
  flex-direction: row;
  justify-content: start;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.right-side {
  display: flex;
}

.nav-list li {
  list-style-type: none;
  display: inline-flex;
  /* justify-content: flex-end; */
  /* float: right; */
  background-color: aliceblue;
}

.content-wrapper {
  display: block;
  /* grid-template-rows: auto; */
  height: 100%;
  padding: 8em;
}
.newsletter {
  display: flex;
  justify-content: center;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}

.form-wrapper > input {
  display: flex;
  justify-content: center;
}

section#features {
  text-align: center;
  height: 100%;
  padding-top: 8em;
}

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.howaremade {
  height: 100%;
  padding-top: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fotos {
  max-width: 300px;
}

section#pricing {
  height: 100%;
  padding-top: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product {
  padding: 2em;
  text-align: center;

  /* box-sizing: border-box;
  border-width: 1em;
  border-color: black; */
}
footer {
  margin-top: 3em;
}

footer ul li {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  background-color: papayawhip;
}

@media {
  min-width: 576px;
}
